<body>
    <div id="top" class="sec">
      <div class="namepos name animated fadeIn">
        <h1>Sergio Barker</h1>
        <!-- <h1><hr></h1> -->
        <h3 class="webdev">Web Developer</h3>
      </div>
    </div>
    <div id="about" class="sec1 sec">
      <h1 class="titles">About</h1>
      <div class="aboutcon">
        <div id="rightabout" class="about_div">
          <!-- <img src="./styles/imgs/subarurally.jpg" class="subarurally rightimgs"> -->
          <img src="./styles/imgs/sergio.jpg" style="" class="sergio rightimgs">
        </div>
        <div id="leftabout" class="about_div">
          <h1>I am a full-stack javascript developer, living in Provo, Ut.<br>
          I love coding, cars, cooking, and am ready to get to work.</h1>
          <!-- <a href="https://twitter.com/statemaryland?lang=en"><img src="styles/imgs/maryland.png" class="md" class="cuttingboard"></a> -->
          <!-- <img src="./styles/imgs/cutting_board.jpg" class="cuttingboard"> -->
        </div>
        <div id="centerabout" class="about_div">
          <a href="styles/imgs/Sergio_barker_resume.pdf" download>
            <h1>My Resume</h1>
          </a>
        </div>
      </div>
    </div>
    <div id="skills" class="sec2 sec parallax-window" data-parallax="scroll" data-image-src="./styles/imgs/codeback.jpeg">
      <h1 class="titles">SKILLS</h1>
      <!-- <h4>Click on icon to visit</h4> -->
      <div class="skillsbox">
          <ul><a href="https://angularjs.org/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-angularjs-plain-wordmark"></i></a></ul>
          <ul><a href="https://atom.io/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-atom-original-wordmark"></i></a></ul>
          <ul><a href="https://expressjs.com/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-express-original-wordmark"></i></a></ul>
          <ul><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-html5-plain-wordmark"></i></a></ul>
          <ul><a href="https://www.javascript.com/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-javascript-plain"></i></a></ul>
          <ul><a href="https://jquery.com/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-jquery-plain-wordmark"></i></a></ul>
          <ul><a href="https://www.mongodb.com/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-mongodb-plain-wordmark"></i></a></ul>
          <ul><a href="https://www.postgresql.org/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-postgresql-plain-wordmark"></i></a></ul>
          <ul><a href="https://nodejs.org/en/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-nodejs-plain-wordmark"></i></a></ul>
          <ul><a href="https://www.w3schools.com/css/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-css3-plain-wordmark"></i></a></ul>
          <ul><a href="https://gulpjs.com/" target="_blank" style="text-decoration: none; background-color: none; color: white;"><i class="devicon-gulp-plain"></i></a></ul>
      </div>
    </div>
    <div id="projects" class="sec3 sec">
      <h1 class="titles">Projects</h1>
      <div class="projcon multiple-items">
        <div id="performpro" class="project item">
          <div class="left piece">
            <a href="http://138.68.60.37:8085/#!/" target="_blank">
              <div id="perform" class="projimg">
                <div class="projcover">
                  <h1 class="go2">Visit site in progress</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="http://138.68.60.37:8085/#!/" target="_blank">Barker Performance</a></h1>
            <p>A work in progress! E-commerce site using MongoDB, ExpressJs, AngularJs, NodeJs. The design is based on a template from
            Wix. It uses Slick slider, and jQuery effects.</p>
              <p><a href="https://github.com/sbrycebarker/barkerperformance" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="subpro" class="project item">
          <div class="left piece">
          <a href="http://barkersubaru.com" target="_blank">
            <div id="subaru" class="projimg">
              <div class="projcover">
                <h1 class="go2">GO TO PROJECT</h1>
              </div>
            </div>
          </a>
        </div>
        <div class="right piece">
            <h1 class="pronam"><a href="http://barkersubaru.com" target="_blank">Subaru Clone</a></h1>
            <p>A partial clone of the Subaru.com website. Built with AngularJs, NodeJs, Express,
            MongoDb, Gulp and Sass. Select a car, add accessories, and "checkout".</p>
              <p><a href="https://github.com/sbrycebarker/subaruclone" target="_blank">Project GitHub</a></p>
        </div>
        </div>
        <div id="rockpro" class="project item">
          <div class="left piece">
            <a href="http://rockshowz.info" target="_blank">
              <div id="rockshowZ" class="projimg">
                <div class="projcover rockcov">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
            <h1 class="pronam"><a href="http://rockshowz.info" target="_blank">RockshowZ</a></h1>
            <p>An app built as a final/group project at Dev Mountain. This project uses AngularJs, NodeJs, Express, ElephantSql, Auth0 and is hosted on Digital Ocean. It uses multiple APIs to search for venues or bands. You can login and add favorites to track
          later.</p>
              <p><a href="https://github.com/Sergeandarden/rockshowz" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="rock20" class="project item">
          <div class="left piece">
            <a href="http://138.68.60.37:8080/#!/">
              <div id="rock2-0" class="projimg">
                <div class="projcover">
                  <h1 class="go2">In Progress</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="http://138.68.60.37:8080/#!/">RockshowZ 2.0</a></h1>
            <p>My rebuild of the group project from DevMountain</p>
          </div>
        </div>
        <div id="todopro" class="project item">
          <div class="left piece">
            <a href="http://138.68.60.37:8084/#!/" target="_blank">
              <div id="todoapp" class="projimg">
                <div class="projcover rockcov">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
            <h1 class="pronam"><a href="http://138.68.60.37:8084/#!/" target="_blank">To Do App</a></h1>
            <p>A simple to do list made to apply knowledge of CRUD operations. Create a task with timestamps,
            change or delete them. Pagination done with Bootstrap.</p>
              <p><a href="https://github.com/sbrycebarker/todoapp" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="drumkitpro" class="project item">
          <div class="left price">
            <a href="https://sbrycebarker.github.io/DRUM-KIT/" target="_blank">
              <div id="drumkit" class="projimg">
                <div class="projcover">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="https://sbrycebarker.github.io/DRUM-KIT/" target="_blank">Drum Kit</a></h1>
            <p>A drum kit built by watching <a href="https://javascript30.com/">Javascript30</a>. Click the buttons for drum noises and visuals.</p>
              <p><a href="https://github.com/sbrycebarker/DRUM-KIT" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="clockpro" class="project item">
          <div class="left piece">
            <a href="https://sbrycebarker.github.io/CLOCK/" target="_blank">
              <div id="clock" class="projimg">
                <div class="projcover">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="https://sbrycebarker.github.io/DRUM-KIT/" target="_blank">Clock</a></h1>
            <p>A clock made by watching <a href="https://javascript30.com/">Javascript30</a> to strengthen Javascript skills. It tells the time!</p>
              <p><a href="https://github.com/sbrycebarker/CLOCK" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="starpro" class="project item">
          <div class="left piece">
            <a href="https://sbrycebarker.github.io/Star-Wars-Planets/" target="_blank">
              <div id="starwars" class="projimg">
                <div class="projcover starcov">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
            <h1 class="pronam"><a href="https://sbrycebarker.github.io/Star-Wars-Planets/" target="_blank">Star Wars Planets</a></h1>
            <p>A simple AngularJs app accessing <a href="http://swapi.co" target="_blank">SWAPI.co</a> and <a href="https://openweathermap.org/">
                Openweathermap</a>. It uses jQuery animations, angular-ui-router. It was built as a first project for Dev Mountain.</p>
              <p><a href="https://github.com/sbrycebarker/Star-Wars-Planets" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <!-- <div id="thewritersgang" class="project item">
          <div class="left piece">
            <a href="http://138.68.60.37:8082/#!/">
              <div id="writers" class="projimg">
                <div class="projcover">
                  <h1 class="go2">In Progress</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="http://138.68.60.37:8082/#!/">The Writers Gang</a></h1>
            <p>Project currently being built for client</p>
          </div>
        </div>  -->
        <div id="Image-filter-app" class="project item">
          <div class="left piece">
            <a href="https://sbrycebarker.github.io/Photo-Filter/" target="_blank">
              <div id="Image-filter" class="projimg">
                <div class="projcover">
                  <h1 class="go2">GO TO PROJECT</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
          <h1 class="pronam"><a href="https://sbrycebarker.github.io/Photo-Filter/" target="_blank">Image Filter App</a></h1>
            <p>Upload an Image and add filter using <a href="http://camanjs.com/" target="_blank">CamanJs</a>.</p>
              <p><a href="https://github.com/sbrycebarker/Photo-Filter" target="_blank">Project GitHub</a></p>
          </div>
        </div>
        <div id="rock20pro" class="project item">
          <div class="left piece">
            <a href="https://github.com/sbrycebarker/rockshowz2.0" target="_blank">
              <div id="rock2-0" class="projimg">
                <div class="projcover rockcov">
                  <h1 class="go2">Project Under construction</h1>
                </div>
              </div>
            </a>
          </div>
          <div class="right piece">
            <h1 class="pronam"><a href="https://github.com/sbrycebarker/rockshowz2.0">RockshowZ</a></h1>
            <p>A solo rebuild of the RockshowZ app built with SASS and Javascript.</p>
              <p><a href="https://github.com/sbrycebarker/rockshowz2.0">Project GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="sec4 sec">
      <h1 class="titles">Contact</h1>
      <div class="contcon">
      <div id="phone" class="det">
        <a href="tel:+8013583800">
          <i class="fa fa-mobile" aria-hidden="true" style="font-size: 30px; color: grey"></i>
          <h2>Phone</h2>
          <p>801-358-3800</p>
        </a>
      </div>
      <div id="email" class="det">
        <a href="mailto:sbrycebarker@gmail.com.com" target="_blank">
          <i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 30px; color: red"></i>
            <h2>Email</h2>
            <p>sbrycebarker@gmail.com</p>
        </a>
      </div>
      <div id="github" class="det">
      <a href="https://github.com/sbrycebarker" target="_blank">
        <i class="fa fa-github" aria-hidden="true" style="font-size: 30px;"></i>
          <h2>GitHub</h2>
            <p>Sbrycebarker</p>
      </a>
      </div>
      <div id="linkedin" class="det">
      <a href="https://www.linkedin.com/in/sergio-barker/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 30px; color: #0073B1;"></i>
        <h2>LinkedIn</h2>
        <p>www.linkedin.com/in/sergio-barker</p>
      </a>
      </div>
      </div>
    </div>

</body>
