@media only screen and (max-width: 1400px) and (min-width: 800px) {
  html {
    height: 2000px;
    width: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  /* a {
    color: white;
    text-decoration: none;
  } */
  a:hover {
    text-decoration: none;
  }

  h2 a:hover,
  focus {
    text-decoration: none;
  }
  header {
    height: 65px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid black;
    color: black;
    /*opacity: 0;*/
  }

  h1 a {
    color: inherit;
    text-decoration: none;
  }

  h1 a:hover {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

  a h2:hover {
    text-decoration: none
  }

  .navbar-inverse {
      background-color: white;
      /*border-color: #080808;*/
  }

  .homecon {
    height: 1000px;
    width: 100%;
  }

  .titles {
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .home {
    height: 40px;
    top: 10px;
    width: 100px;
    position: absolute;
    left: 100px;
    display: flex;
    border-right: solid 1px black;
  }

  .home h1 {
    position: relative;
    margin: auto auto;
    font-family: JosifinSans-Regular;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    transition: color 2s
  }

  .home h1:hover {
    color: #3273C5;
    transition-duration: 1s;
    /*border-bottom: 2px solid black*/
  }

  .headeritems {
    height: 75px;
    width: 400px;
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
  }

  .headeritem {
    height: 25px;
    width: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    text-align: center;
  }

  .headeritem:hover {
    color: #3273C5;
    transform: rotateY(380deg);
    transition-duration: 1s;
    margin: auto;
  }

  .headeritem h2 {
    height: auto;
    width: auto;
    margin: auto;
    font-family: JosifinSans-Regular;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    transition: color 2s;
    text-decoration: none
  }

  .headeritem h2:hover {
    color: grey;
    transition: color;
    transition-duration: .5s;
    margin: auto;
    text-decoration: none;
    border-bottom: 2px solid black;
  }

  #top {
    height: 80vh;
    width: 100%;
    background-image: url("./imgs/darkwood.jpg");
    background-size: cover;
    display: flex;
    background-attachment: fixed;
  }
  .namepos h1 {
    height: auto;
    margin: auto;
    font-size: 2.5rem
  }

  .namepos {
    height: 7%;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    color: white;
    background-color: #1A1919;
    /* border: 2px solid black; */
    border-radius: 0;
    text-align: center;
  }

  .namepos h2 {
    font-size: auto;
  }

  #about {
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    background-attachment: fixed;
    border-top: 2px solid white;
    border-bottom: 2px solid #222;
    text-align: center;
    padding-bottom: 50px;
  }

  .aboutcon {
    height: 90%;
    width: 100%;
    font-size: 5px;
    margin: auto;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
  }

  .aboutcon h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  /* .aboutcon p {
    height: 20px;
    width: 450px;
    margin: 15px auto;
    color: red;
    position: relative;
    text-align: center;
  } */

  .about_div {
    height: 100%;
    width: 30%;
    /* font-size: 20px; */
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
  }

  #rightabout {
    /*display: none;*/
    flex-direction: column;
  }

  #leftabout {
    /*display: none;*/
    flex-direction: column;
  }

  .cuttingboard {
    height: auto;
    width: 100%
  }

  .subarurally {
    height: auto;
    width: 100%;
  }

  .sergio {
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
  }

  .rightimgs {
    margin: auto;
  }

  .devicon-gulp-plain {
    text-decoration: none;
  }

  .md {
    height: auto;
    width: 100%;
  }

  .md:hover {
    height: 33.5px;
    width: 45px;
    transition: font-size;
    transition-duration: .5s;
  }

  #skills {
    height: 55vh;
    width: 100%;
    /* background-color: white; */
    color: white;
    background: url('imgs/codeback.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    border-bottom: 2px solid #222
  }

  .skillsbox {
    height: auto;
    width: 70%;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black !important;
    /*border-radius: 15px;*/
    opacity: .9;
    justify-content: center;
  }

  .skillsbox ul {
    height: auto;
    width: auto;
    display: flex;
    color: black;
    flex-direction: row;
    margin: 20px 25px;
  }

  .skillsbox a {
    color: black
  }

  .skillsbox ul:hover {
    transform: rotateY(360deg);
    transition-duration: 1s;
    background-color: none;
  }

  .skillsbox ul:active {
    transform: rotateY(360deg);
    transition-duration: 1s;
    background-color: none;
  }

  i {
    font-size: 50px;
    margin: auto;
    color: black;
  }

  i:hover {
    text-decoration: none;
    background-color: none
  }

  #projects {
    height: auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    color: black;
    padding-bottom: 100px;
    border-bottom: 2px solid black
  }

  /* #projects h1 {
    margin: 25px auto;
  } */

  #starpro {
    /*border-radius: 15px 15px 0 0;*/
  }

  #starwars {
    background-image: url("./imgs/starwars.png");
    background-size: cover;
    background-position: center;
    /*border-radius: 15px 0 0 0;*/
  }

  #subaru {
    background-image: url("./imgs/subaru.png");
    background-size: cover;
    background-position: center;
  }

  #rockshowZ {
    background-image: url("./imgs/rockshowz.png");
    background-size: cover;
    background-position: center;
    /*border-radius: 0 15px 0 0;*/
  }

  #todoapp {
    background-image: url("./imgs/todoapp.png");
    background-size: cover;
    background-position: center;
  }

  #drumkit {
    background-image: url("./imgs/drumkit.png");
    background-size: cover;
    background-position: center;
  }

  #clock {
    background-image: url("./imgs/clock.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #perform {
    background-image: url("./imgs/barkerperformance.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .projcon {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    /*border: 1px solid white;*/
  }

  .pronam {
    margin: 25px auto;
    font-size: 25px;
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
    color: black
  }

  .pronam:hover {
    background-color: black;
    color: white;
  }

  .go2 {
    font-size: 25px;
    text-align: center;
  }

  .project {
    height: 500px;
    margin: 10px;
    display: flex !important;
    flex-direction: row;
    opacity: .9;
    color: white;
    position: relative;
  }

  .project a {
    height: 100%;
    width: 100%;
  }

  .project a:hover {
    text-decoration: none
  }

  .projimg {
    height: 90%;
    margin: 25px auto;
    background-size: 100%;
    background: cover;
    box-shadow: 5px 2px 2px  black;
  }

  .projcover {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    opacity: 0;
    text-align: center;
    display: flex;
    vertical-align: middle;
    transition: opacity 2s;
  }

  .projcover h1 {
    height: 100px;
    /*text-align: center;*/
  }

  .left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
  }

  .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-size: 1rem;
  }

  p {
    font-size: 2rem;
    margin: auto 15px;
    width: 90%;
  }

  .piece {
    margin: auto;
  }

  .projcover:hover {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: .9
  }

  .projcover h1 {
    height: 100px;
    width: 200px;
    position: relative;
  }


  #contact {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #333333;
    background-size: cover;
    display: flex;
    color: white;
    flex-direction: column;
    background-attachment: fixed;
    /*border-top: 2px solid white;*/
  }

  .contcon {
    height: auto;
    width: 80%;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: none;
    opacity: .9;
    justify-content: center;
    color: inherit;
    border: 2px solid white;
  }

  .contcon a {
    color: white
  }


  .det {
    margin: auto;
    text-align: center;
    color: black
  }
  .sec {
    /*border-bottom: 2px solid white;*/
    color: black;
  }

  #linkedin {
    position: relative;
  }
}
