html {
  height: 2000px;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  width: 100%;
  background-color: none;
  position: fixed;
  z-index: 1
}

.homecon {
  height: 1000px;
  width: 100%
}

.home {
  height: 75px;
  width: 200px;
  position: absolute;
  left: 100px;
  display: flex;
}

.home h1 {
  position: relative;
  margin: auto auto;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white
}

.headeritems {
  height: 75px;
  width: 350px;
  position: absolute;
  right: 100px;
  display: flex;
}

.headeritem {
  height: 15px;
  width: 75px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto auto;
  text-align: center;
}

.headeritem h2 {
  height: auto;
  width: auto;
  margin: auto;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
h1 {
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#about {
  height: 100vh;
  width: 100%;
  background-image: url("./imgs/snowytimp.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#skills {
  height: 100vh;
  width: 100%;
  background-image: url("./imgs/timp1.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#projects {
  height: 100vh;
  width: 100%;
  background-image: url("./imgs/timpnight.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#education {
  height: 100vh;
  width: 100%;
  background-image: url("./imgs/Mount_Timpanogos.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.sec {
  border-bottom: 2px solid white
}
