@font-face {
  font-family: JosifinSans-Regular;
  src: url(./fonts/JosefinSans-Regular.ttf);
}

@media only screen and (min-width: 1400px) {

  html {
    height: 2000px;
    width: 100%;
    /* font-family: JosifinSans-Regular; */
    color: black;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* a {
    color: white;
    text-decoration: none;
  } */


  a:hover {
    text-decoration: none;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 50;
    border-bottom: .5px solid black;
    color: black;
    /*opacity: 0;*/
  }

  h1 a {
    color: inherit;
    text-decoration: none;
  }

  h1 a:hover {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

  a h2:hover {
    text-decoration: none
  }

  a:hover {
    color: black;
    background-color: none;
  }

  .navbar-inverse {
      background-color: white;
      border-color: #080808;
  }

  .homecon {
    height: 1000px;
    width: 100%;
  }

  .titles {
    margin: 50px auto;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    color: inherit;
    vertical-align: middle;
  }

  .home {
    height: 40px;
    top: 10px;
    width: 100px;
    position: absolute;
    left: 100px;
    display: flex;
    border-right: solid 1px white;
  }

  .home h1 {
    position: relative;
    margin: auto auto;
    font-family: JosifinSans-Regular;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
    transition: color 2s
  }

  .home h1:hover {
    color: #3273C5;
    transition-duration: 1s;
  }

  .headeritems {
    height: 75px;
    width: 400px;
    position: absolute;
    right: 100px;
    display: flex;
    text-align: center;
  }

  .headeritem {
    height: 25px;
    /*border-right: 1px solid white;*/
    width: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    text-align: center;
  }

  .headeritem h2 {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    font-family: JosifinSans-Regular;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: bold;
    color: black;
    transition: color 1s;
  }

  .headeritem h2:hover {
    color: #3273C5;
    /* transform: rotateX(380deg); */
    transition-duration: 1s;
    margin: auto;
  }

  /* .headeritem:active {
    transform: rotateY(360deg);
    transition-duration: 1s;
    background-color: none;
  } */

  #top {
    height: 100vh;
    width: 100%;
    background-image: url("./imgs/darkwood.jpg");
    background-size: cover;
    display: flex;
    background-attachment: fixed;
  }

  .namepos h1 {
    height: auto;
    /* width: 50%; */
    margin: auto;
  }

  .namepos {
    height: 7%;
    width: 19%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    color: white;
    background-color: #1A1919;
    /* border: 2px solid black; */
    border-radius: 0;
    text-align: center;
  }

  .namepos h2 {
    font-size: auto;
  }

  #about {
    height: auto;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    background-attachment: fixed;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    padding-bottom: 50px;
    z-index: 25;
  }

  .aboutcon {
    height: 90%;
    width: 100%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
  }

  .about_div {
    height: 100%;
    width: 30%;
    font-size: 20px;
    /*border: black solid 2px;*/
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
  }

  .cuttingboard {
    height: auto;
    width: 100%
  }

  .subarurally {
    height: auto;
    width: 100%;
  }

  .sergio {
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
  }

  .rightimgs {
    margin: auto;
  }

  .aboutcon p {
    height: 40px;
    width: 450px;
    top: -5px;
    margin: 50px auto;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
  }

  #leftabout {
    display: flex;
    height: 300px;
    width: 500px;
    flex-direction: column;
  }

  #centerabout {
    display: flex;
    height: 300px;
    width: 500px;
    flex-direction: column;
  }

  #rightabout {
    display: flex;
    height: 300px;
    width: 500px;
    flex-direction: column;
  }

  .devicon-gulp-plain {
    text-decoration: none;
  }

  .md {
    height: auto;
    width: 100%;
  }
/*
  .md:hover {
    height: 33.5px;
    width: 45px;
    transition: font-size;
    transition-duration: .5s;
  }*/

  #skills {
    height: auto;
    width: 100%;
    background-image: url("imgs/codeback.jpeg");
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    z-index: 1
  }

  /* #skills img {
    height: 700px;
    width: 100%;
    background-image: url("imgs/forest.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1
  } */

  .skillsbox {
    height: auto;
    width: 50%;
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid black;
    opacity: .9;
    justify-content: center;
  }

  .skillsbox ul {
    height: auto;
    width: auto;
    display: flex;
    color: black;
    flex-direction: row;
    margin: 25px 25px;
  }

  .skillsbox ul:hover {
    transform: rotateY(360deg);
    transition-duration: 1s;
    background-color: none;
  }

  .skillsbox ul:active {
    transform: rotateY(360deg);
    transition-duration: 1s;
    background-color: none;
  }

  i {
    font-size: 75px;
    margin: auto;
    color: black
  }

  i:hover {
    text-decoration: none;
    background-color: none
  }

  #projects {
    height: auto;
    width: 100%;
    position: relative;
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    border-top: 2px solid black;
    color: black;
    padding-bottom: 100px;
  }

  /* #projects h1 {
    margin: auto;
  } */

  #starpro {
    /*border-radius: 15px 15px 0 0;*/
  }

  #starwars {
    background-image: url("./imgs/starwars.png");
    background-size: cover;
    background-position: center;
  }

  #subaru {
    background-image: url("./imgs/subaru.png");
    background-size: cover;
    background-position: center;
  }

  #rockshowZ {
    background-image: url("./imgs/rockshowz.png");
    background-size: cover;
    background-position: center;
  }

  #todoapp {
    background-image: url("./imgs/todoapp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #drumkit {
    background-image: url("./imgs/drumkit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #clock {
    background-image: url("./imgs/clock.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #perform {
    background-image: url("./imgs/barkerperformance.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #writers {
    background-image: url("./imgs/thewritersgang.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .projcon {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    /* border: 2px solid black; */
  }

  .pronam {
    margin: 25px auto;
    font-size: 25px;
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
    color: black
  }

  .pronam:hover {
    background-color: black;
    color: white;
  }

  .project {
    height: 700px;
    display: flex !important;
    flex-direction: row;
    opacity: .9;
    color: black;
    position: relative;
  }

  .project a {
    height: 100%;
    width: 100%;
  }
  .project a:hover {
    text-decoration: none
  }

  .project h1 {
    text-align: center;
    /* width: 200px; */
    /*border: 2px solid black;*/
    padding: 10px;
  }

  .projimg {
    height: 90%;
    /* width: 90%; */
    margin: 25px auto;
    background-size: 100%;
    background: cover;
    box-shadow: 5px 2px 2px  black;
  }

  .projcover {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    opacity: 0;
    text-align: center;
    display: flex;
    vertical-align: middle;
    transition: opacity 2s;
  }

  .projcover h1 {
    margin: auto;
  }
  .left {
    position: relative;
    width: 49%;
    height: 100%;
    display: flex;
  }

  .right {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #projects p {
    font-size: 3.5rem;
    margin: 50px auto !important;
    width: 90%;
  }

  .piece {
    margin: auto;
  }
/*
  .starcov {
    border-radius: 15px 0 0 0;
  }

  .rockcov {
    border-radius: 0 15px 0 0;
  }*/


  .projcover h1 {
    height: 100px;
    width: 200px;
    position: relative;
  }

  .projcover:hover {
    transition-property: opacity;
    transition-duration: 1s;
    opacity: .9
  }

  #contact {
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url('./imgs/darkwood.jpg');
    background-size: cover;
    display: flex;
    font-family: JosifinSans-Regular;
    flex-direction: column;
    background-attachment: fixed;
    border-top: 2px solid white;
    color: white;
  }

  .contcon {
    height: auto;
    width: 50%;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: none;
    border: white 2px solid;
    opacity: .9;
    justify-content: center;
    color: white;
    border-radius: 15px;
  }

  .contcon a {
    color: white
  }

  .contcon p {
    /* font-size: 1.1rem; */
  }

  .det {
    margin: auto;
    text-align: center;
  }
  .sec {
    /*border-bottom: 2px solid white;*/
    color: white;
  }

  #linkedin {
    position: relative;
  }

}

.slick-prev:before, .slick-next:before {
  color: black
}

.contcon a:hover {
  color: silver;
  text-decoration: none;
}
